
amsv2.Common/bin/Debug/netcoreapp3.1/amsv2.Common.deps.json
amsv2.Common/bin/Debug/netcoreapp3.1/amsv2.Common.dll
amsv2.Common/bin/Debug/netcoreapp3.1/amsv2.Common.pdb
amsv2.Common/obj/amsv2.Common.csproj.nuget.dgspec.json
amsv2.Common/obj/amsv2.Common.csproj.nuget.g.props
amsv2.Common/obj/amsv2.Common.csproj.nuget.g.targets
amsv2.Common/obj/Debug/netcoreapp3.1/amsv2.Common.AssemblyInfo.cs
amsv2.Common/obj/Debug/netcoreapp3.1/amsv2.Common.AssemblyInfoInputs.cache
amsv2.Common/obj/Debug/netcoreapp3.1/amsv2.Common.assets.cache
amsv2.Common/obj/Debug/netcoreapp3.1/amsv2.Common.csproj.CoreCompileInputs.cache
amsv2.Common/obj/Debug/netcoreapp3.1/amsv2.Common.csproj.FileListAbsolute.txt
amsv2.Common/obj/Debug/netcoreapp3.1/amsv2.Common.csprojAssemblyReference.cache
amsv2.Common/obj/Debug/netcoreapp3.1/amsv2.Common.dll
amsv2.Common/obj/Debug/netcoreapp3.1/amsv2.Common.pdb
amsv2.Common/obj/project.assets.json
amsv2.Common/obj/project.nuget.cache
amsv2.Core/bin/Debug/netcoreapp3.1/amsv2.Core.deps.json
amsv2.Core/bin/Debug/netcoreapp3.1/amsv2.Core.dll
amsv2.Core/bin/Debug/netcoreapp3.1/amsv2.Core.pdb
amsv2.Core/obj/amsv2.Core.csproj.nuget.dgspec.json
amsv2.Core/obj/amsv2.Core.csproj.nuget.g.props
amsv2.Core/obj/amsv2.Core.csproj.nuget.g.targets
amsv2.Core/obj/Debug/netcoreapp3.1/amsv2.Core.AssemblyInfo.cs
amsv2.Core/obj/Debug/netcoreapp3.1/amsv2.Core.AssemblyInfoInputs.cache
amsv2.Core/obj/Debug/netcoreapp3.1/amsv2.Core.assets.cache
amsv2.Core/obj/Debug/netcoreapp3.1/amsv2.Core.csproj.CoreCompileInputs.cache
amsv2.Core/obj/Debug/netcoreapp3.1/amsv2.Core.csproj.FileListAbsolute.txt
amsv2.Core/obj/Debug/netcoreapp3.1/amsv2.Core.dll
amsv2.Core/obj/Debug/netcoreapp3.1/amsv2.Core.pdb
amsv2.Core/obj/project.assets.json
amsv2.Core/obj/project.nuget.cache
amsv2.Model/bin/Debug/netcoreapp3.1/amsv2.Model.deps.json
amsv2.Model/bin/Debug/netcoreapp3.1/amsv2.Model.dll
amsv2.Model/bin/Debug/netcoreapp3.1/amsv2.Model.pdb
amsv2.Model/obj/amsv2.Model.csproj.nuget.dgspec.json
amsv2.Model/obj/amsv2.Model.csproj.nuget.g.props
amsv2.Model/obj/amsv2.Model.csproj.nuget.g.targets
amsv2.Model/obj/Debug/netcoreapp3.1/amsv2.Model.AssemblyInfo.cs
amsv2.Model/obj/Debug/netcoreapp3.1/amsv2.Model.AssemblyInfoInputs.cache
amsv2.Model/obj/Debug/netcoreapp3.1/amsv2.Model.assets.cache
amsv2.Model/obj/Debug/netcoreapp3.1/amsv2.Model.csproj.CoreCompileInputs.cache
amsv2.Model/obj/Debug/netcoreapp3.1/amsv2.Model.csproj.FileListAbsolute.txt
amsv2.Model/obj/Debug/netcoreapp3.1/amsv2.Model.csprojAssemblyReference.cache
amsv2.Model/obj/Debug/netcoreapp3.1/amsv2.Model.dll
amsv2.Model/obj/Debug/netcoreapp3.1/amsv2.Model.pdb
amsv2.Model/obj/project.assets.json
amsv2.Model/obj/project.nuget.cache
amsv2.Repository/bin/Debug/netcoreapp3.1/amsv2.Common.dll
amsv2.Repository/bin/Debug/netcoreapp3.1/amsv2.Common.pdb
amsv2.Repository/bin/Debug/netcoreapp3.1/amsv2.Core.dll
amsv2.Repository/bin/Debug/netcoreapp3.1/amsv2.Core.pdb
amsv2.Repository/bin/Debug/netcoreapp3.1/amsv2.Model.dll
amsv2.Repository/bin/Debug/netcoreapp3.1/amsv2.Model.pdb
amsv2.Repository/bin/Debug/netcoreapp3.1/amsv2.Repository.deps.json
amsv2.Repository/bin/Debug/netcoreapp3.1/amsv2.Repository.dll
amsv2.Repository/bin/Debug/netcoreapp3.1/amsv2.Repository.pdb
amsv2.Repository/bin/Debug/netcoreapp3.1/amsv2.Repository.runtimeconfig.dev.json
amsv2.Repository/bin/Debug/netcoreapp3.1/amsv2.Repository.runtimeconfig.json
amsv2.Repository/obj/amsv2.Repository.csproj.nuget.dgspec.json
amsv2.Repository/obj/amsv2.Repository.csproj.nuget.g.props
amsv2.Repository/obj/amsv2.Repository.csproj.nuget.g.targets
amsv2.Repository/obj/Debug/netcoreapp3.1/amsv2.Repository.AssemblyInfo.cs
amsv2.Repository/obj/Debug/netcoreapp3.1/amsv2.Repository.AssemblyInfoInputs.cache
amsv2.Repository/obj/Debug/netcoreapp3.1/amsv2.Repository.assets.cache
amsv2.Repository/obj/Debug/netcoreapp3.1/amsv2.Repository.csproj.CopyComplete
amsv2.Repository/obj/Debug/netcoreapp3.1/amsv2.Repository.csproj.CoreCompileInputs.cache
amsv2.Repository/obj/Debug/netcoreapp3.1/amsv2.Repository.csproj.FileListAbsolute.txt
amsv2.Repository/obj/Debug/netcoreapp3.1/amsv2.Repository.csprojAssemblyReference.cache
amsv2.Repository/obj/Debug/netcoreapp3.1/amsv2.Repository.dll
amsv2.Repository/obj/Debug/netcoreapp3.1/amsv2.Repository.genruntimeconfig.cache
amsv2.Repository/obj/Debug/netcoreapp3.1/amsv2.Repository.pdb
amsv2.Repository/obj/project.assets.json
amsv2.Repository/obj/project.nuget.cache
amsv2.Service/bin/Debug/netcoreapp3.1/amsv2.Common.dll
amsv2.Service/bin/Debug/netcoreapp3.1/amsv2.Common.pdb
amsv2.Service/bin/Debug/netcoreapp3.1/amsv2.Core.dll
amsv2.Service/bin/Debug/netcoreapp3.1/amsv2.Core.pdb
amsv2.Service/bin/Debug/netcoreapp3.1/amsv2.Model.dll
amsv2.Service/bin/Debug/netcoreapp3.1/amsv2.Model.pdb
amsv2.Service/bin/Debug/netcoreapp3.1/amsv2.Repository.dll
amsv2.Service/bin/Debug/netcoreapp3.1/amsv2.Repository.pdb
amsv2.Service/bin/Debug/netcoreapp3.1/amsv2.Service.deps.json
amsv2.Service/bin/Debug/netcoreapp3.1/amsv2.Service.dll
amsv2.Service/bin/Debug/netcoreapp3.1/amsv2.Service.pdb
amsv2.Service/obj/amsv2.Service.csproj.nuget.dgspec.json
amsv2.Service/obj/amsv2.Service.csproj.nuget.g.props
amsv2.Service/obj/amsv2.Service.csproj.nuget.g.targets
amsv2.Service/obj/Debug/netcoreapp3.1/amsv2.Service.AssemblyInfo.cs
amsv2.Service/obj/Debug/netcoreapp3.1/amsv2.Service.AssemblyInfoInputs.cache
amsv2.Service/obj/Debug/netcoreapp3.1/amsv2.Service.assets.cache
amsv2.Service/obj/Debug/netcoreapp3.1/amsv2.Service.csproj.CopyComplete
amsv2.Service/obj/Debug/netcoreapp3.1/amsv2.Service.csproj.CoreCompileInputs.cache
amsv2.Service/obj/Debug/netcoreapp3.1/amsv2.Service.csproj.FileListAbsolute.txt
amsv2.Service/obj/Debug/netcoreapp3.1/amsv2.Service.csprojAssemblyReference.cache
amsv2.Service/obj/Debug/netcoreapp3.1/amsv2.Service.dll
amsv2.Service/obj/Debug/netcoreapp3.1/amsv2.Service.pdb
amsv2.Service/obj/project.assets.json
amsv2.Service/obj/project.nuget.cache
AMSV2/bin/Debug/netcoreapp3.1/amsv2.Common.dll
AMSV2/bin/Debug/netcoreapp3.1/amsv2.Common.pdb
AMSV2/bin/Debug/netcoreapp3.1/amsv2.Core.dll
AMSV2/bin/Debug/netcoreapp3.1/amsv2.Core.pdb
AMSV2/bin/Debug/netcoreapp3.1/AMSV2.deps.json
AMSV2/bin/Debug/netcoreapp3.1/AMSV2.dll
AMSV2/bin/Debug/netcoreapp3.1/AMSV2.exe
AMSV2/bin/Debug/netcoreapp3.1/amsv2.Model.dll
AMSV2/bin/Debug/netcoreapp3.1/amsv2.Model.pdb
AMSV2/bin/Debug/netcoreapp3.1/AMSV2.pdb
AMSV2/bin/Debug/netcoreapp3.1/amsv2.Repository.dll
AMSV2/bin/Debug/netcoreapp3.1/amsv2.Repository.pdb
AMSV2/bin/Debug/netcoreapp3.1/AMSV2.runtimeconfig.dev.json
AMSV2/bin/Debug/netcoreapp3.1/AMSV2.runtimeconfig.json
AMSV2/bin/Debug/netcoreapp3.1/amsv2.Service.dll
AMSV2/bin/Debug/netcoreapp3.1/amsv2.Service.pdb
AMSV2/bin/Debug/netcoreapp3.1/AMSV2.xml
AMSV2/bin/Debug/netcoreapp3.1/appsettings.Development.json
AMSV2/bin/Debug/netcoreapp3.1/appsettings.json
AMSV2/bin/Debug/netcoreapp3.1/AutoMapper.dll
AMSV2/bin/Debug/netcoreapp3.1/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
AMSV2/bin/Debug/netcoreapp3.1/en/AMSV2.resources.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Azure.Services.AppAuthentication.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
AMSV2/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
AMSV2/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
AMSV2/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
AMSV2/bin/Debug/netcoreapp3.1/Quartz.AspNetCore.dll
AMSV2/bin/Debug/netcoreapp3.1/Quartz.dll
AMSV2/bin/Debug/netcoreapp3.1/Quartz.Extensions.DependencyInjection.dll
AMSV2/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
AMSV2/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
AMSV2/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
AMSV2/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
AMSV2/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
AMSV2/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
AMSV2/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
AMSV2/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
AMSV2/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
AMSV2/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
AMSV2/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
AMSV2/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
AMSV2/bin/Debug/netcoreapp3.1/Serilog.dll
AMSV2/bin/Debug/netcoreapp3.1/Serilog.Enrichers.Environment.dll
AMSV2/bin/Debug/netcoreapp3.1/Serilog.Extensions.Hosting.dll
AMSV2/bin/Debug/netcoreapp3.1/Serilog.Extensions.Logging.dll
AMSV2/bin/Debug/netcoreapp3.1/Serilog.Filters.Expressions.dll
AMSV2/bin/Debug/netcoreapp3.1/Serilog.Settings.Configuration.dll
AMSV2/bin/Debug/netcoreapp3.1/Serilog.Sinks.Async.dll
AMSV2/bin/Debug/netcoreapp3.1/Serilog.Sinks.Console.dll
AMSV2/bin/Debug/netcoreapp3.1/Serilog.Sinks.Debug.dll
AMSV2/bin/Debug/netcoreapp3.1/Serilog.Sinks.File.dll
AMSV2/bin/Debug/netcoreapp3.1/Serilog.Sinks.MSSqlServer.dll
AMSV2/bin/Debug/netcoreapp3.1/Serilog.Sinks.PeriodicBatching.dll
AMSV2/bin/Debug/netcoreapp3.1/Superpower.dll
AMSV2/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
AMSV2/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
AMSV2/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
AMSV2/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
AMSV2/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
AMSV2/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
AMSV2/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
AMSV2/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
AMSV2/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
AMSV2/bin/Debug/netcoreapp3.1/zh/AMSV2.resources.dll
AMSV2/obj/AMSV2.csproj.nuget.dgspec.json
AMSV2/obj/AMSV2.csproj.nuget.g.props
AMSV2/obj/AMSV2.csproj.nuget.g.targets
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.AssemblyInfo.cs
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.AssemblyInfoInputs.cache
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.assets.cache
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.csproj.CopyComplete
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.csproj.CoreCompileInputs.cache
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.csproj.FileListAbsolute.txt
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.csproj.GenerateResource.cache
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.csprojAssemblyReference.cache
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.dll
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.exe
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.genruntimeconfig.cache
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.MvcApplicationPartsAssemblyInfo.cache
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.MvcApplicationPartsAssemblyInfo.cs
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.pdb
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.RazorTargetAssemblyInfo.cache
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.Resources.Controllers.LoginController.en.resources
AMSV2/obj/Debug/netcoreapp3.1/AMSV2.Resources.Controllers.LoginController.zh.resources
AMSV2/obj/Debug/netcoreapp3.1/en/AMSV2.resources.dll
AMSV2/obj/Debug/netcoreapp3.1/staticwebassets/AMSV2.StaticWebAssets.Manifest.cache
AMSV2/obj/Debug/netcoreapp3.1/staticwebassets/AMSV2.StaticWebAssets.xml
AMSV2/obj/Debug/netcoreapp3.1/zh/AMSV2.resources.dll
AMSV2/obj/project.assets.json
AMSV2/obj/project.nuget.cache
AMSV2/Logs/Information/log20200724.txt
AMSV2/Logs/Debug/log20200724.txt
amsv2.Common/bin/Release/netcoreapp3.1/amsv2.Common.deps.json
amsv2.Common/bin/Release/netcoreapp3.1/amsv2.Common.dll
amsv2.Common/bin/Release/netcoreapp3.1/amsv2.Common.pdb
amsv2.Common/obj/Release/netcoreapp3.1/amsv2.Common.AssemblyInfo.cs
amsv2.Common/obj/Release/netcoreapp3.1/amsv2.Common.AssemblyInfoInputs.cache
amsv2.Common/obj/Release/netcoreapp3.1/amsv2.Common.assets.cache
amsv2.Common/obj/Release/netcoreapp3.1/amsv2.Common.csproj.CoreCompileInputs.cache
amsv2.Common/obj/Release/netcoreapp3.1/amsv2.Common.csproj.FileListAbsolute.txt
amsv2.Common/obj/Release/netcoreapp3.1/amsv2.Common.csprojAssemblyReference.cache
amsv2.Common/obj/Release/netcoreapp3.1/amsv2.Common.dll
amsv2.Common/obj/Release/netcoreapp3.1/amsv2.Common.pdb
*.dll
*.pdb
amsv2.Core/bin/Release/netcoreapp3.1/amsv2.Core.deps.json
amsv2.Core/obj/Debug/netcoreapp3.1/amsv2.Core.csprojAssemblyReference.cache
amsv2.Core/obj/Release/netcoreapp3.1/amsv2.Core.AssemblyInfo.cs
amsv2.Core/obj/Release/netcoreapp3.1/amsv2.Core.AssemblyInfoInputs.cache
amsv2.Core/obj/Release/netcoreapp3.1/amsv2.Core.assets.cache
amsv2.Core/obj/Release/netcoreapp3.1/amsv2.Core.csproj.CoreCompileInputs.cache
amsv2.Core/obj/Release/netcoreapp3.1/amsv2.Core.csproj.FileListAbsolute.txt
amsv2.Core/obj/Release/netcoreapp3.1/amsv2.Core.csprojAssemblyReference.cache
amsv2.Model/bin/Release/netcoreapp3.1/amsv2.Model.deps.json
amsv2.Model/obj/Release/netcoreapp3.1/amsv2.Model.AssemblyInfo.cs
amsv2.Model/obj/Release/netcoreapp3.1/amsv2.Model.AssemblyInfoInputs.cache
amsv2.Model/obj/Release/netcoreapp3.1/amsv2.Model.assets.cache
amsv2.Model/obj/Release/netcoreapp3.1/amsv2.Model.csproj.CoreCompileInputs.cache
amsv2.Model/obj/Release/netcoreapp3.1/amsv2.Model.csproj.FileListAbsolute.txt
amsv2.Model/obj/Release/netcoreapp3.1/amsv2.Model.csprojAssemblyReference.cache
amsv2.Repository/bin/Release/netcoreapp3.1/amsv2.Repository.deps.json
amsv2.Repository/bin/Release/netcoreapp3.1/amsv2.Repository.runtimeconfig.dev.json
amsv2.Repository/bin/Release/netcoreapp3.1/amsv2.Repository.runtimeconfig.json
amsv2.Repository/obj/Release/netcoreapp3.1/amsv2.Repository.AssemblyInfo.cs
amsv2.Repository/obj/Release/netcoreapp3.1/amsv2.Repository.AssemblyInfoInputs.cache
amsv2.Repository/obj/Release/netcoreapp3.1/amsv2.Repository.assets.cache
amsv2.Repository/obj/Release/netcoreapp3.1/amsv2.Repository.csproj.CopyComplete
amsv2.Repository/obj/Release/netcoreapp3.1/amsv2.Repository.csproj.CoreCompileInputs.cache
amsv2.Repository/obj/Release/netcoreapp3.1/amsv2.Repository.csproj.FileListAbsolute.txt
amsv2.Repository/obj/Release/netcoreapp3.1/amsv2.Repository.csprojAssemblyReference.cache
amsv2.Repository/obj/Release/netcoreapp3.1/amsv2.Repository.genruntimeconfig.cache
amsv2.Service/bin/Release/netcoreapp3.1/amsv2.Service.deps.json
amsv2.Service/obj/Release/netcoreapp3.1/amsv2.Service.AssemblyInfo.cs
amsv2.Service/obj/Release/netcoreapp3.1/amsv2.Service.AssemblyInfoInputs.cache
amsv2.Service/obj/Release/netcoreapp3.1/amsv2.Service.assets.cache
amsv2.Service/obj/Release/netcoreapp3.1/amsv2.Service.csproj.CopyComplete
amsv2.Service/obj/Release/netcoreapp3.1/amsv2.Service.csproj.CoreCompileInputs.cache
amsv2.Service/obj/Release/netcoreapp3.1/amsv2.Service.csproj.FileListAbsolute.txt
amsv2.Service/obj/Release/netcoreapp3.1/amsv2.Service.csprojAssemblyReference.cache
AMSV2/bin/Debug/netcoreapp3.1/Dockerfile
AMSV2/bin/Debug/netcoreapp3.1/Dockerfile.bak
AMSV2/bin/Release/netcoreapp3.1/AMSV2.deps.json
AMSV2/bin/Release/netcoreapp3.1/AMSV2.exe
AMSV2/bin/Release/netcoreapp3.1/AMSV2.runtimeconfig.dev.json
AMSV2/bin/Release/netcoreapp3.1/AMSV2.runtimeconfig.json
AMSV2/bin/Release/netcoreapp3.1/AMSV2.xml
AMSV2/bin/Release/netcoreapp3.1/appsettings.Development.json
AMSV2/bin/Release/netcoreapp3.1/appsettings.json
AMSV2/bin/Release/netcoreapp3.1/Dockerfile
AMSV2/bin/Release/netcoreapp3.1/Properties/launchSettings.json
AMSV2/bin/Release/netcoreapp3.1/publish/AMSV2.deps.json
AMSV2/bin/Release/netcoreapp3.1/publish/AMSV2.exe
AMSV2/bin/Release/netcoreapp3.1/publish/AMSV2.runtimeconfig.json
AMSV2/bin/Release/netcoreapp3.1/publish/AMSV2.xml
AMSV2/bin/Release/netcoreapp3.1/publish/appsettings.Development.json
AMSV2/bin/Release/netcoreapp3.1/publish/appsettings.json
AMSV2/bin/Release/netcoreapp3.1/publish/Dockerfile
AMSV2/bin/Release/netcoreapp3.1/publish/web.config
AMSV2/Logs/Debug/log20200727.txt
AMSV2/Logs/Debug/log20200728.txt
AMSV2/Logs/Error/log20200727.txt
AMSV2/Logs/Error/log20200728.txt
AMSV2/Logs/Information/log20200727.txt
AMSV2/Logs/Information/log20200728.txt
AMSV2/obj/AMSV2.csproj.EntityFrameworkCore.targets
AMSV2/obj/Release/netcoreapp3.1/AMSV2.AssemblyInfo.cs
AMSV2/obj/Release/netcoreapp3.1/AMSV2.AssemblyInfoInputs.cache
AMSV2/obj/Release/netcoreapp3.1/AMSV2.assets.cache
AMSV2/obj/Release/netcoreapp3.1/AMSV2.csproj.CopyComplete
AMSV2/obj/Release/netcoreapp3.1/AMSV2.csproj.CoreCompileInputs.cache
AMSV2/obj/Release/netcoreapp3.1/AMSV2.csproj.FileListAbsolute.txt
AMSV2/obj/Release/netcoreapp3.1/AMSV2.csproj.GenerateResource.cache
AMSV2/obj/Release/netcoreapp3.1/AMSV2.csprojAssemblyReference.cache
AMSV2/obj/Release/netcoreapp3.1/AMSV2.exe
AMSV2/obj/Release/netcoreapp3.1/AMSV2.genruntimeconfig.cache
AMSV2/obj/Release/netcoreapp3.1/AMSV2.MvcApplicationPartsAssemblyInfo.cache
AMSV2/obj/Release/netcoreapp3.1/AMSV2.MvcApplicationPartsAssemblyInfo.cs
AMSV2/obj/Release/netcoreapp3.1/AMSV2.RazorTargetAssemblyInfo.cache
AMSV2/obj/Release/netcoreapp3.1/AMSV2.Resources.Controllers.LoginController.en.resources
AMSV2/obj/Release/netcoreapp3.1/AMSV2.Resources.Controllers.LoginController.zh.resources
AMSV2/obj/Release/netcoreapp3.1/PubTmp/Out/AMSV2.deps.json
AMSV2/obj/Release/netcoreapp3.1/PubTmp/Out/AMSV2.exe
AMSV2/obj/Release/netcoreapp3.1/PubTmp/Out/AMSV2.runtimeconfig.json
AMSV2/obj/Release/netcoreapp3.1/PubTmp/Out/AMSV2.xml
AMSV2/obj/Release/netcoreapp3.1/PubTmp/Out/appsettings.Development.json
AMSV2/obj/Release/netcoreapp3.1/PubTmp/Out/appsettings.json
AMSV2/obj/Release/netcoreapp3.1/PubTmp/Out/Dockerfile
AMSV2/obj/Release/netcoreapp3.1/PubTmp/Out/web.config
AMSV2/obj/Release/netcoreapp3.1/staticwebassets/AMSV2.StaticWebAssets.Manifest.cache
AMSV2/obj/Release/netcoreapp3.1/staticwebassets/AMSV2.StaticWebAssets.xml
AMSV2/appsettings.json
AMSV2/appsettings.json
AMSV2/appsettings.json
amsv2.Repository/Data/Migrations/20200724063538_AMSV2DbInit.cs
amsv2.Repository/Data/Migrations/20200724063538_AMSV2DbInit.Designer.cs
amsv2.Repository/Data/Migrations/AMSV2DbContextModelSnapshot.cs
AMSV2/Logs/Debug/log20200803.txt
AMSV2/Logs/Error/log20200803.txt
AMSV2/Logs/Fatal/log20200728.txt
AMSV2/Logs/Information/log20200803.txt
amsv2.Repository/Data/Migrations/20200724063538_AMSV2DbInit.cs
amsv2.Repository/Data/Migrations/20200724063538_AMSV2DbInit.Designer.cs
amsv2.Repository/Data/Migrations/AMSV2DbContextModelSnapshot.cs
amsv2.Repository/Data/Migrations/20200724063538_AMSV2DbInit.cs
amsv2.Repository/Data/Migrations/20200724063538_AMSV2DbInit.Designer.cs
amsv2.Repository/Data/Migrations/AMSV2DbContextModelSnapshot.cs
